#Overlay canvas {
  position: absolute;
}

#Overlay {
  position: relative;
}

#Overlay svg {
  pointer-events: auto;
  position: absolute;
  width: 200px;
  height: 200px;
}


.buses svg {
  pointer-events: none;
}

.stops svg {
  pointer-events: none;
}

.buses circle {
  pointer-events: fill;
  fill:"red";
  stroke:"white";
  stroke-width:3;
}

.stops circle {
  pointer-events: fill;
  fill:"grey";
  stroke:"white";
  stroke-width:3;
}

#iwindow {
  position: fixed;
  top:-10%;
  left: 35%;
  width: 30%;
  height: 270px;
  text-align: center; 
  display: block;
  margin: auto;
}

#iwindow svg {
  pointer-events: fill;
  
  top: 50px;
}

#isubdiv {
  opacity: 0.7;
  position: relative;
  width: 100%;
  top: 100px;
  left: 0%;
  height: 100%;
  background-color: white;
  z-index: -1;
  border-radius: 20px;
  border-style: solid;
  border-color: Gainsboro;
  text-align: center;
  font-family:Helvetica;
}


#iwindow svg circle {
  fill: MidnightBlue;
  stroke: Gainsboro;
}

.leyend {
   position: fixed;
   right: 0.5cm;
   bottom: 1cm;
   width: 1cm;
   height: 5cm; 
   opacity: 0.8;
}

.leyend svg {
  pointer-events: none;
}
.axis path,
.axis line {
  fill: none;
  stroke: grey;
  shape-rendering: crispEdges;
}
.axis text {
  font-family:Helvetica;
}