#menu {
  pointer-events: none;
  position:fixed;
  top:65%;
  left:0%;
  width: 100%;
  height: 100%;
  text-align:center;
}

#menu div{
  pointer-events: visible;
  position: relative;
  top:0px;
  border: 2px solid silver;
  background-color: whitesmoke;
  opacity: 0.9;
  display: inline-block;
  height: 100%;
  border-radius: 1em;
  text-align:center;
  padding: 1em;
}


#legend {
  pointer-events: none;
  position:fixed;
  top:2em;
  right:0.35em;
  width: 5.75em;
  height: 15em;
  text-align:center;
  opacity:1;
  background-color: white;
  box-shadow: 0px 0px 3px #888888;
  
}

#Overlay canvas {
  position: absolute;
}

#Overlay {
  position: relative;
}

#Overlay svg {
  pointer-events: auto;
  position: absolute;
  width: 200px;
  height: 200px;
}

#OverlayCanvas {
}

.buses svg {
  pointer-events: none;
}

.buses circle {
  pointer-events: fill;
  fill: CornflowerBlue ;
  stroke: whitesmoke;
}

.buses .BusIcon {
  fill: whitesmoke;
}

.buses .BusStopDirection {
  fill: CornflowerBlue;
}

.stops svg {
  pointer-events: none;
}


.stops circle {
  pointer-events: fill;
  fill: grey;
  stroke: white;
}



.BusStop {
  fill: GoldenRod;
}

.BusStopDirection {
  fill: silver;
}

.axis path,
.axis line {
  fill: none;
  stroke: grey;
  shape-rendering: crispEdges;
}
.axis text {
  font-family:Helvetica;
}
