#Overlay canvas {
  position: absolute;
}

#Overlay {
  position: relative;
}

#Overlay svg {
  pointer-events: auto;
  position: absolute;
  width: 200px;
  height: 200px;
}


.buses svg {
  pointer-events: none;
}

.stops svg {
  pointer-events: none;
}

.buses circle {
  pointer-events: fill;
  fill:"red";
  stroke:"white";
  stroke-width:3;
}

.stops circle {
  pointer-events: fill;
  fill:"grey";
  stroke:"white";
  stroke-width:3;
}

#iwindow {
  pointer-events: none;
  position: fixed;
  bottom: 1cm;
  left: 35%;
  width: 30%;
  height: 6cm;
  text-align: center; 
  display: block;
  margin: auto;
}

#iwindow svg {
  position: absolute;
  top: -100px;
  left: -100px;
  pointer-events: visible;
  

}

#isubdiv {
  position: relative;
  pointer-events: visible;
  width: 100%;
  top: 0px;
  left: 0%;
  height: 100%;
  z-index: -1;
  text-align: center;
  font-family:Helvetica;
  border-radius: 20px;
  border:1px solid silver;
  background-color: whitesmoke;
  opacity: 0.9;
 
}

.menu {
  
  height:100%;
  width:100%;
  
  
  display: inline;
  vertical-align:middle;
  text-align:center;
  font-family:Helvetica;
  margin: auto;
}

#iwindow svg circle {
  fill: MidnightBlue;
  stroke: Gainsboro;
}

.legend {
   pointer-events: none;
   position: fixed;
   right: 0.5cm;
   bottom: 1cm;
   width: 2cm;
   height: 6cm; 
   opacity: 0.9;
}

.leyend svg {
}
.axis path,
.axis line {
  fill: none;
  stroke: grey;
  shape-rendering: crispEdges;
}
.axis text {
  font-family:Helvetica;
}
