#time {
  pointer-events: none;
  position: fixed;
  bottom: 0.3em;
  left: 0.3em;
  width: 140px;
  height: 20px;
  text-align: center; 
  border:1px solid silver;
  background-color: white;
  opacity: 0.7;
  padding:10px;
  box-shadow: 0px 1px 3px #777777;
}

#menu {
  pointer-events: none;
  position:fixed;
  top:65%;
  left:0%;
  width: 100%;
  height: 100%;
  text-align:center;
}

#menu div{
  pointer-events: visible;
  position: relative;
  top:0px;
  border: 2px solid silver;
  background-color: whitesmoke;
  opacity: 0.9;
  display: inline-block;
  height: 100%;
  border-radius: 1em;
  text-align:center;
  padding: 1em;
}


#legend {
  pointer-events: visible;
  position:fixed;
  top:0.3em;
  right:0.3em;
  width: 5.75em;
  height: 12.8em;
  text-align:center;
  opacity:0.8;
  background-color: white;
  box-shadow: 0px 0px 3px #777777;
  cursor: pointer;
  
}

#settings {
  position:fixed;
  top:5%;
  right:35%;
  width: 30%;
  height: 30%;
  border-radius: 1em;
  text-align:center;
  opacity:1;
  background-color: white;
  box-shadow: 0px 1px 10px #777777;
  padding: 0em;
  line-height: 50%;
}

#settings svg {
  display: inline-block;
}

#Overlay canvas {
  position: absolute;
}

#Overlay {
  position: relative;
}

#Overlay svg {
  pointer-events: auto;
  position: absolute;
  width: 200px;
  height: 200px;
}

#OverlayCanvas {
}

.buses svg {
  pointer-events: none;
}

.buses circle {
  pointer-events: fill;
  fill: CornflowerBlue ;
  stroke: whitesmoke;
}

.buses .BusIcon {
  fill: whitesmoke;
}

.buses .BusStopDirection {
  fill: CornflowerBlue;
}

.stops svg {
  pointer-events: none;
}


.stops circle {
  pointer-events: fill;
  fill: grey;
  stroke: white;
}



.BusStop {
  fill: GoldenRod;
}

.BusStopDirection {
  fill: silver;
}

.axis path,
.axis line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}
.axis text {
  font-family:Helvetica;
}

#fig1 h1 {
  line-height: 3em;
}
